* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  position: relative;
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.js-clock {
  font-size: 4rem;
  margin-top: 120px;
  display: flex;
  align-items: center;
  color: white;
}

.clock-text {
  font-weight: 900;
  letter-spacing: 10px;
}

.date-text {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 20px;
  font-weight: 900;
}

.name {
  width: 150px;
  height: 28px;
  padding: 0px 15px;
  font-size: 1.1em;
  text-align: center;
  border: none;
  background: inherit;
  outline: none;
  color: white;
}

.name::placeholder {
  color: white;
}

.grettings {
  color: white;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.showing {
  display: none;
}

.bg-img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: imgAnimation 1s linear;
}

@keyframes imgAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.todoInput {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  border-bottom: 2px solid white;
  color: white;
  font-size: 17px;
}

.todoInput::placeholder {
  color: white;
  text-align: center;
}

.todoList {
  width: 280px;
  height: 150px;
  margin-top: 35px;
  overflow-y: auto;
  color: white;
}

.item {
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  font-size: 18px;
  font-weight: 900;
}

.item__delete {
  transition: 0.3s ease-in-out;
  font-size: 18px;
  color: white;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: inherit;
}

.js-weather {
  position: absolute;
  right: 3px;
  top: 3px;
  color: white;
  font-size: 20px;
}

.nav-apps {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  width: 250px;
  height: 55px;
  transform: translate(-50%, -50%);
  transition: 0.2s linear;
}

.app-item {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
}

.app-item i {
  color: white;
  font-size: 2.2rem;
}

.app-item i:hover {
  cursor: pointer;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(5, 60px);
  padding: 40px;
  gap: 7px;
  background-color: black;
  border-radius: 10px;
}

.calculator button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #363539;
  border: none;
  outline: none;
  color: white;
}

.calculator input {
  padding: 0px 15px;
  text-align: right;
  font-size: 30px;
  background-color: black;
  color: white;
  grid-column: 1 / 3 span;
}

.calculator button[value="0"] {
  grid-column: 1 / 2 span;
}

.calculator .clear {
  background-color: #a7aab0;
}

.calculator .plus,
.calculator .minus,
.calculator .multiply,
.calculator .division {
  background-color: #fd8f00;
}

.calculator button:active {
  box-shadow: inset 120px 60px rgba(0, 0, 0, 0.2);
}

.showing2 {
  display: none;
}
